{% extends "base.html"%}
{% load staticfiles %}
<style>	
		body {
			color: white; 
		}
</style>
{% block content %}
{{player_ship.name_ship}} : {{player_ship.armor}}
{% if request.session.Fight.wait_result %}

<form action="/choice_result/">
	<div class="check_result" style="color: white;">
		<fieldset>
		<input type="radio" id="six" name="throw" value="6">	
		<label for='six'>6</label>
		{% if request.session.Fight.status == 'defence' %}
			<input type="radio" id="custom" name="throw" value="{{request.session.Fight.player_points.0}}">
			<label for="custom">{{player_ship.character_id.defence}}</label>
		{% else %}
			
		<input type="radio" id="custom" name="throw" value="{{request.session.Fight.player_points.1}}">
			<label for="custom">{{player_ship.character_id.accurancy}}</label>
		{% endif %}
		<button class ="glowBtn" type="submit">
			Check
		</button>
		6:{{request.session.Fight.player_points.0}}
	{% if request.session.Fight.status == 'defence' %}
		{{player_ship.character_id.defence}}
	{% else %}
		{{player_ship.character_id.accurancy}}
	{% endif %}
	:{{request.session.Fight.player_points.1}}
	</fieldset>	
	</div>
</form>
{% endif %}
<div style="color: white">
	{{enemy_ship.name_ship}}:{{enemy_ship.armor}} <br/>
	6:{{request.session.Fight.enemy_points.0}} <br/>
	{% if request.session.Fight.status == 'attack' %}
		{{enemy_ship.character_id.defence}}
		
	{% else %}
		{{enemy_ship.character_id.accurancy}}
	{% endif %}
	:{{request.session.Fight.enemy_points.1}}	
</div>
{% if not request.session.Fight.wait_result == True %}
<div>
	
	{% if request.session.Fight.status == "defence"%}
	<form action="/defence/">
		<button type="submit">Defence</button>
	</form>
	{%else%}
	<form action="/attack/">
		<button type="submit">Attack</button>
	</form>
	{%endif%}
</div>
{% endif %}

{% endblock content%}